.about_section {
    background-color: #eaa2fa;
}

.about_section h1 {
    margin-top: 0px;
    margin-bottom: 30px;
    padding-top: 30px;
    text-align: center;
}

.about_section img {
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about_section h2 {
    margin-left: 60px;
}

.about_section p {
    margin: 0px 60px 15px 60px;
}