.contact_background {
    background-color: #eaa2fa;
}

.contact_section {
    background-color: #eaa2fa;
}

.contact_section h1 {
    margin-top: 0px;
    margin-bottom: 30px;
    padding-top: 30px;
    text-align: center;
}

.contact_section p {
    margin-left: 20px;
}