.footer-background {
    background-color: rgb(206, 84, 206);
    padding: 10px;
    color: white;
    display: block;
    position: absolute;
    width: 100%;
}

.footer-background p {
    font-size: 10px;
}

.footer-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.footer-navbar li {
    display: inline;
    font-size: 15px;
    text-align: center;
    padding: 14px 16px;
}